.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  height: calc(100% - 60px);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1280px;
  padding-top: 60px;
  max-width: 100%;
}
.content {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
